{% extends 'base.html.twig' %}

{% block title %}
	Modifier le rôle - {{ role.nom }}
{% endblock %}

{% block body %}

	<div class="container py-4" style="margin-right: 20px;">

		<div class="card shadow-sm border-0 rounded-3">
			<div class="card-body py-4 px-4">
				<h5 class="fw-semibold mb-3 text-secondary">
					<i class="ti ti-pencil me-2 text-primary"></i>
					Modification du rôle
				</h5>

				{{ include('role/_form.html.twig') }}
			</div>
		</div>

	</div>
{% endblock %}
