{% extends 'base.html.twig' %}

{% block title %}
	-Nouveau Rôle
{% endblock %}

{% block body %}

<div class="container py-4" style="margin-right: 20px;">

    <div class="card shadow-sm border-0 rounded-3">
        <div class="card-body p-3">
            <h5 class="fw-semibold mb-3 text-secondary">
                <i class="ti ti-plus me-2 text-primary"></i>
                Créer un nouveau rôle
            </h5>

            {{ include('role/_form.html.twig') }}
        </div>
    </div>

</div>
{% endblock %}
