{% extends 'base.html.twig' %}

{% block title %}
	-Nouveau Privilège
{% endblock %}

{% block body %}

	<div class="container py-4">

		<div class="card shadow-sm border-0 rounded-3">
			<div class="card-body py-4 px-4">
				<h5 class="fw-semibold mb-3 text-secondary">
					<i class="ti ti-plus me-2 text-primary"></i>
					Créer un nouveau privilège
				</h5>

				{{ include('privilege/_form.html.twig') }}
			</div>
		</div>

	</div>
{% endblock %}
